@font-face {
    font-family: 'Ebtekar';
    src: url('fonts/ebtekar.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }
  
  @font-face {
    font-family: 'IranSans';
    src: url('fonts/iran_sans.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }
  
  @font-face {
    font-family: 'Sadgan';
    src: url('fonts/sadgan_medium.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }
  
  .iranSans {
    font-family: "IranSans";
  }
  
  .ebtekar {
    font-family: "Ebtekar";
  }
  
  .sadgan {
    font-family: "Sadgan";
  }